*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 35vh;
}

.container{
    text-align: center;
    width: 70vw;
    height: 50vh;
}

h1{
    font-size: 32px;
    margin-bottom: 30px;
}

.contador{
    font-size: 65px;
    font-weight: bold;
}

footer{
    margin-top: 10px;
}

a{
    text-decoration: none;
    border: 2px solid #302e2e;
    border-radius: 8px;
    color: #302e2e;
    padding: 5px;
    margin: 0 6px;
}